.container-1 {
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container-1 .title {
    font-size: 30px;
    padding-bottom: 30px;
}
.container-1 p {
    line-height: 2rem;
}

