h3 {
    font-size: 60px;
}

h2 {
    
    font-size: 2rem;
}




:root {
    /* Grunn bilið okkar er 1rem == 16px */
    --font-base-body-px: 16px;
    --spacing: 16px;
  
    /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
    --vertical-space: calc(var(--gutter));
  
    /* Hámarksbreidd á efni */
    --max-width: 1500px;
    --width-offset: calc(100% - (2 * var(--offset)));
  
    /* Border breiddir */
    --border-small: 1px;
    --border-large: 8px;
    --border-radius: 6px;
  
    /* Litir */
    --color-coffee: #6F4E37;
    --color-black-coffee: #3C2A1E;
    --color-dark: #3C2A1E;
    --color-light: #fff9ee;

    --color-primary: #f0f0f8;
    --color-header: #fff;
    --color-text: #000;
    --color-border: #ccc;
  
    /* Grid stillingar */
    
    --gutter: 30px;
    --offset: 20px;

    /* Letur stillingar */
    --font-base-size: 1rem;
   
}
